.box{
	background-color: blue;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	height: 500px;
	align-items: flex-end;
}
.childbox{
	height: 100px;
	width: 100px;
	background-color: yellow;
	margin: 10px;
	text-align: center;
	display: flex;
	
}
.box1{
	background-image: url(../image/1.jpg);
	height: 600px;
	width: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;

}
.title{
	font-size: 40px;
	color: #fff;
	background-color: red;

}
.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}